{% extends 'crud.html' %}

{% block body %}
    <h3 class="titulo"> Usuarios </h3>
    <table id="table" class="table-box">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Fecha de Nacimiento</th>
                <th>Email</th>
                <th>No. Télefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.Name}}</td>
                <td>{{user.Lastname}}</td>
                <td>{{user.Cedula}}</td>
                <td>{{user.Birthday}}</td>
                <td>{{user.Email}}</td>
                <td>{{user.Cellphone}}</td>
                <td>  
                    <a class="edit" href="{% url 'edit' user.id%}">Editar</a> 
                    <a class="delete" href="{% url 'delete' user.id %}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{%endblock  %}
               